.lang-button{
    border: solid 1px black;
    text-transform: uppercase;
    cursor: pointer;
}
.lang-button :first{
    margin-left: 10%;
}

.current-lang{
    margin: 5px;
    padding: 5px;
    border: solid 1px white;
    text-transform: lowercase;
    cursor: none;
}