.menu-button-d{
    padding: 8px;
    width: max-content;
    min-width: 150px;
    height: min-content;
    cursor: pointer;
    font-size: 1em;
    background-color: var(--menu-bg);
    color: var(--menu-txt-color);
    text-align: center;
}
.menu-sub-container{
    width: fit-content;
    display: none;
}


.main-menu-item-container-d{
    display: block;
    height: min-content;
    cursor: pointer;
}